body{
    background-color: #fff5e6;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.container{
    background-color: white;
    border: 6px solid #bf8040;
    border-radius: 30px;
    height: 700px;
    margin: 40px auto;
    width: 400px;
    position: relative;
}

.numbers{
    border: none;
    color: #ff9966;
    font-size: 25px;
    position: absolute;
    height:40px;
    margin: 50px 10px;
    outline: none;
    text-align: right;
    left: 20px;
    top: -20px;
    width: 340px;
}

.display-solution{
    background-color: #ff9966;
    background-image: linear-gradient(to left, #ff9966, #ffccb3);
    border: none;
    border-radius: 7px;
    box-shadow: 0px 18px 2px -9px #ffcbb3, 0px 38px 3px -18px #ffeee6;
    color: white;
    font-size: 55px;
    height: 140px;
    margin: 80px 30px;
    outline: none;
    text-align: right;
    width: 340px;
}

#number-container{
    display: grid;
    gap: 60px;
    grid-template-rows: repeat(6, 20px);
    grid-template-columns: repeat(4, 25px);
    justify-content: center;
    /* max-width: 400px; */
    margin-left: -50px;
}



.number{
    border: 1px solid red;
   background-color: white;
   border: none;
   cursor: pointer;
   font-size: 30px;
   font-weight: bold;
    height: 60px;
    margin-left: -10px;
    margin-top: -14px;
    outline: none;
    padding-top: 15px;
    padding-left: 30px;
    width: 60px;
}

.number:hover {
    background-color: rgb(198, 198, 198);
    transition: 0.5s;
    color:#deab91;
    cursor: pointer;
  }

  #delete{
    background-color: white;
    border: none;
    color: #deab91;
    font-size: 15px;
    font-size: 25px;
    height: 65px;
    margin-top: -14px;
    padding-top: 15px;
    width: 57px;
  }

  #delete:hover{
    background-color: rgb(198, 198, 198);
    transition: 0.5s;
    color:#deab91;
    cursor: pointer;
}

  #equal{
    background-color: #ffeee6;
    border: none;
    color: #deab91;
    font-size: 30px;
    font-weight: bold;
    grid-column: 4;
    grid-row: 4/6;
    height: 100px;
    margin-left: -5px;
    outline: none;
    padding-top: 50px;
    width: 50px;
  }

  #equal:hover{
    color: #f1b69a;
    background-color: rgb(187, 176, 176);
    transition: 0.5s ease-in-out;
    cursor:pointer;
}